.header {
    margin-block-end: 1rem;
}

.header h1 {
    margin-block-end: 0;
    margin-block-start: 0;
}

.header > p {
    font-style: italic;
}

.scores {
    font-weight: 700;
}

.score {
    font-weight: 400;
}

